<div class="ui inverted top fixed menu">
  <div class="header item">
    eAGM - United Nations Society
  </div>
  <a class="item" routerLink="/" routerLinkActive="active">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item" routerLink="/ballot" routerLinkActive="active">
    <i class="list icon"></i>
    Ballot
  </a>
  <a class="item" routerLink="/tally" routerLinkActive="active">
    <i class="hourglass half icon"></i>
    Tally
  </a>
  <a class="item" routerLink="/results" routerLinkActive="active">
    <i class="sitemap icon"></i>
    Results
  </a>
  <div class="right menu">
    <a class="item" routerLink="/login" routerLinkActive="active">
      <i class="sign in icon"></i>
      Login
    </a>
    <a class="item" routerLink="/logout" routerLinkActive="active">
      <i class="sign out icon"></i>
      Logout
    </a>
  </div>
</div>
