<div class="ui container">
  <div class="ui hidden divider"></div>
  <div class="ui horizontal divider">
    <h1>{{title}}</h1>
  </div>
  <div class="ui hidden divider"></div>

  <div *ngFor="let ballot of ballots">
    <div class="ui segment">
      <!-- Name of Ballot Item -->
      <h1>{{ballot.name}}</h1>

      <!-- Description of Voting -->
      <h3 *ngIf="ballot.type == 0">
        You can vote in <strong>favor</strong>, <strong>against</strong>, or <strong>abstain</strong>.
      </h3>

      <h3 *ngIf="ballot.type == 1">
        Please rank your preferences from most preferred to least preferred. Note that only one candidate can get the seat.
      </h3>

      <h3 *ngIf="ballot.type == 2">
        Please rank your preferences from most preferred to least preferred. Note that there are multiple seats for this position.
      </h3>

      <!-- Options -->
      <div *ngIf="ballot.type == 0" class="three ui buttons">
        <div class="huge animated green ui button">
          <div class="visible content">
            In Favor
          </div>
          <div class="hidden content">
            You want this to pass.
          </div>
        </div>
        <div class="huge animated yellow ui button">
          <div class="visible content">
            Abstain
          </div>
          <div class="hidden content">
            You don't mind either way.
          </div>
        </div>
        <div class="huge animated red ui button">
          <div class="visible content">
            Against
          </div>
          <div class="hidden content">
            You don't want this to pass.
          </div>
        </div>
      </div>

    </div>
    <div class="fluid ui hidden header"></div>
  </div>
</div>
