<div class="ui container">
  <h1 class="ui header">{{title}}</h1>
  <p>Welcome to University of Nottingham's United Nations Society's AGM e-ballot system.</p>
  <p>If you have an electorate code? Enter it below.</p>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
      <div class="ui huge labeled action input">
        <div class="ui label">UN18-</div>
        <input type="text" placeholder="Electorate Code">
        <button class="ui primary huge button">
          <i class="sign in icon"></i>
          Begin
        </button>
      </div>
    </div>
  </div>
</div>
